* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0c5da0;
    margin-bottom: 10px;
}

#h1{
    display: flex;
    font-size: 2.25em;
    color: orange;
    background-color: darkslategrey;
    text-align: center;
    padding: 10px;
    display: inline-block;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    list-style-type: none;
    text-decoration: none;
    color: orange;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    text-decoration: none;
}

h2 {
    font-size: 20px;
    color: #0a6d20;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.content{;
    display: flex;
    /* justify-content: center; */
    margin: 10px 10px 10px 10px;
    background-color: darkgray;
}

.content-about {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    background-color: darkgray;
}

.content-sub{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.content-work {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    background-color: darkgray;
}

.About-Me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Work {
    padding:10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid #536DFE;
}

.Contact-Me {
    padding:10px;
    margin-top: 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul li::before{
    content:"\2022";
    color: #b4461a;
    margin-right: 5px;
}

.ul li a{
    text-decoration: none;
    color: #b4461a;
}

#contact-number{
    margin-left: 20px;
    color: #b4461a;
}

.Contact-Me li {
    margin-right: 40px;
}

.horiseon{
    display: flex;
    position: relative;
    bottom: 75px;
    left: 5px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    color: orange;
    background-color: black;
}

.placeholder-1{
    display: flex;
    position: relative;
    bottom: 75px;
    left: 5px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    color: orange;
    background-color: black;
}

#ANP-Canyonlands{
    display: flex;
    margin-left: 7%;
    height: 200px;
}

#sailing-img{
    width: 920px;
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
    border: solid 5px slategray;
    margin: 10px;
}

#other-img{
    width: 450px;
    opacity: 0.5;
    border: solid 5px slategray;
    margin: 10px;
}

#about-me{
    border-right: solid #536DFE;
    text-wrap: wrap;
    text-align: center;
}

#contact-me{
    border-right: solid #536DFE;
}

#about-me-para{
    width: 900px;
    padding: 10px;
    font-size: 18px;
}

#sailing-img:hover{
    opacity:1;
    cursor: pointer;
}

#other-img:hover{
    opacity:1;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {

}

@media screen and (max-width: 850px){
    .header,
    .header-nav,
    .content-sub{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1317px){
    #ANP-Canyonlands{
        display:none;
    }
}